@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto-Sans";
  src: url("../public/fonts/NotoSans-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../public/fonts/NotoSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../public/fonts/NotoSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../public/fonts/NotoSans-Light.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../public/fonts/NotoSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../public/fonts/NotoSans-SemiBold.ttf");
  font-style: italic;
  font-weight: 600;
}

html {
  font-family: Noto-Sans, sans-serif;
}

.bg-login-img {
  background-image: url('/src/assets/img/bg-login.svg');
}

:where(.css-dev-only-do-not-override-byeoj0).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px !important;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-select-single .ant-select-selector .ant-select-selection-item,
:where(.css-dev-only-do-not-override-byeoj0).ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 40px !important;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-input-number .ant-input-number-input {
  line-height: 30px;
}

textarea {
  resize: none !important;
}

.button-cancel {
  border: 2px solid #FA9746;
  color: #FA9746;
}